* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex;
    width: 500px;
}
img {
    display: flex;
    width: 500px;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    display: flex;
    padding: 50px;
    height: 33vh;
    font-weight: bold;
    font-size: 20px;
    align-items: center;

    background-color: #f9fafb;
}

input:focus {
    border: solid 2px blue;
    box-shadow: 3px 3px 3px gray;
}

.form p {
    display: flex;
    font-weight: bold;
    font-size: 1.5rem;
}
input {
    display: flex;
    width: 15rem;
    height: 1.5rem;
    flex-direction: column;
}

form,
.form {
    display: flex;
    background-color: white;
    height: 33vh;
    padding: 20px;
    gap: 1rem;
    flex-wrap: wrap;
}

fieldset {
    border: 0;
    border: 2px sol;
    display: flex;
}

.footer {
    display: flex;
    flex-direction: column;
    height: 33vh;
    background-color: #f9fafb;
    gap: 2rem;
    padding-left: 50px;
}
.footer button {
    display: flex;
    width: 300px;
    height: 60px;
    background-color: #596d48;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.footer p {
    display: flex;
    gap: 5px;
}
.footer strong {
    display: flex;
    color: #596d48;
}
