* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Norse-Bold";
    src: url("assets/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
}

.card-container {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
}
.background {
    display: flex;
    top: 20rem;
    position: absolute;
    height: 10rem;
    width: 500px;
    background: black;
    opacity: 0.6;
    align-items: center;
    justify-content: center;
}

.logo-text {
    display: flex;
    top: 20rem;
    font-size: 5rem;
    color: white;
    font-family: "Norse-Bold";
}

.logo {
    display: flex;
    top: 20rem;
    height: 8rem;
    color: white;
}

.image {
    display: flex;
    width: 500px;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    padding: 50px;
    height: 33vh;
    font-weight: bold;
    font-size: 20px;
    align-items: center;

    background-color: #f9fafb;
}

input:focus {
    border: solid 2px blue;
    box-shadow: 3px 3px 3px gray;
}

.form p {
    font-weight: bold;
    font-size: 1.5rem;
}

input {
    width: 25rem;
    height: 1.5rem;
    display: flex;
}

form,
.form {
    display: flex;
    background-color: white;
    height: 33vh;
    padding: 20px;
    gap: 50px;
    flex-wrap: wrap;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    height: 33vh;
    background-color: #f9fafb;
    gap: 2rem;
    padding-top: 50px;
    padding-left: 50px;
}
.footer button {
    display: flex;
    width: 300px;
    height: 50px;
    background-color: #596d48;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.footer p {
    display: flex;
    gap: 0.5rem;
}
.footer strong {
    display: flex;
    color: #596d48;
}
